name: test

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [2.7.18, 3.5.10, 3.10.11, 3.11.3, pypy2, pypy3]

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        sudo apt-get update -qq
        sudo apt-get install -qq toilet figlet
        sudo mkdir -p /usr/local/share/pyfiglet/
        sudo chmod 777 /usr/local/share/pyfiglet/
        python -m pip install --upgrade pip
        pip install -r dev-requirements.txt
        make full
        python setup.py install
    - name: Test with test.py
      run: |
        ./pyfiglet/test.py
    - name: Test with pytest
      run: |
        pytest -vv
